{% extends 'base.html' %}
{% block content %}
  <h1>NEW</h1>
  <form action="{% url 'articles:create' %}" method="POST">
    {% csrf_token %}
    {% comment %} label과 input을 묶을 때는 label의 for과 input의 id를 동일하게 {% endcomment %}
    <label for="title">Title: </label>
    {% comment %} input의 name값을 통해 view에서 request.POST.get을 통해 데이터를 불러옴 {% endcomment %}
    <input type="text" name="title" id="title"><br>
    <label for="content">Content: </label>
    <textarea name="content" id="content" cols="30" rows="10"></textarea>
    <br>
    <button>글쓰기</button>
  </form>
  <hr>
  <a href="{% url 'articles:index' %}">[back]</a>
{% endblock content %}