{% extends 'base.html' %}
{% block content %}
  <h1>CREATE</h1>
  <form action="{% url 'articles:create' %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}  {% comment %} as_p: 각 필드가 단락(<p>태그)으로 감싸져서 렌더링 {% endcomment %}
    {% comment %} label과 input을 묶을 때는 label의 for과 input의 id를 동일하게 {% endcomment %}
    {% comment %} <label for="title">Title: </label> {% endcomment %}
    {% comment %} input의 name값을 통해 view에서 request.POST.get을 통해 데이터를 불러옴 {% endcomment %}
    {% comment %} <input type="text" name="title" id="title"><br> {% endcomment %}
    {% comment %} <label for="content">Content: </label> {% endcomment %}
    {% comment %} <textarea name="content" id="content" cols="30" rows="10"></textarea> {% endcomment %}
    <br>
    <button>글쓰기</button>
  </form>
  <hr>
  <a href="{% url 'articles:index' %}">[back]</a>
{% endblock content %}