{% extends 'base.html' %}
{% block content %}
  <h1>글 수정하기</h1>
  <form action="{% url 'articles:update' article.pk %}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %} <label for="submit">Title: </label> {% endcomment %}
    {% comment %} <input type="text" name="title" id="title" value="{{ article.title }}"> {% endcomment %}
    {% comment %} <br> {% endcomment %}
    {% comment %} <label for="content">Content: </label> {% endcomment %}
    {% comment %} <textarea name="content" id="content" cols="30" rows="10">{{ article.content }}</textarea> {% endcomment %}
    {% comment %} <br> {% endcomment %}
    <button>글 수정</button>
  </form>
  <hr>
  <a href="{% url 'articles:index' %}">[목록보기]</a>
{% endblock content %}
